<div>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle [routerLink]="homePageUrl">Home page</mat-button-toggle>
    <mat-button-toggle [routerLink]="rentsHistoryUrl">My rents history</mat-button-toggle>
    <mat-button-toggle [routerLink]="carsUrl">Our cars</mat-button-toggle>
    <mat-button-toggle [routerLink]="clientsUrl">Our clients</mat-button-toggle>
    <mat-button-toggle [routerLink]="aboutUrl">About</mat-button-toggle>
  </mat-button-toggle-group>
</div>
